<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>签名池管理</title>
    <import type='js' file='Js.jquery' >
        <import type='js' file='JS.bootstrap'>
            </head>
<body>
<div class="container">
    <div class="page-header">
        <h1>
            签名池管理&nbsp;  <a href="/Home/Sign/save">添加</a>
        </h1>
    </div>
    <div class="bs-example" data-example-id="bordered-table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>签名文件路径</th>
                <th>签名密码</th>
                <th>状态</th>
                <th>备注</th>
                <th>添加人</th>
                <th>添加时间</th>
                <th>编辑时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="data">
                <tr>
                    <th>{$data.id}</th>
                    <td>{$data.sign_path}</td>
                    <td>{$data.sign_pwd}</td>
                    <td><if condition="$data.status eq 0">可用<else />不可用</if></td>
                    <td>{$data.back}</td>
                    <td>{$data.admin_name}</td>
                    <td>{$data.addtime}</td>
                    <td>{$data.edittime}</td>
                    <td>
                        <a href="/index.php/Home/Sign/save/id/{$data.id}">编辑</a>&nbsp;
                        <a href="/index.php/Home/Sign/delete/id/{$data.id}">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        {$pagination}
    </div>
</div>
</body>
</html>