<include file="Public:header" />
<div id="content" align="center" class="container-fluid">
    <div class="row-fluid">
        <include file='Public:menu' />
        <div class="span10" style="text-align: left;">
        <form action="/Home/Sign/save_up" method="post">
            <div class="form-group">
                <label>签名文件路径:</label>
                <input type="text" class="form-control" name="sign_path" placeholder="签名文件路径" value="{$data.sign_path}">
            </div>
            <div class="form-group">
                <label>签名密码:</label>
                <input type="text" class="form-control" name="sign_pwd" placeholder="签名密码" value="{$data.sign_pwd}">
            </div>
            <div class="form-group">
                <label>状态:</label>
                <label>
                    <input type="radio" name="status" value="0" <if condition="$data.status eq 0">checked</if> >
                    可用
                    <input type="radio" name="status" value="1" <if condition="$data.status eq 1">checked</if>>
                    不可用
                </label>
            </div>
            <div class="form-group">
                <label>备注:</label>
                <textarea name="back">{$data.back}</textarea>
            </div>
            <input type="hidden" value="{$data.id}" name="id">
            <button type="submit" class="btn btn-default">保存/修改</button>
        </form>
        </div>
    </div>
</div>
<include file="Public:footer" />