<include file="Public:header" />
<div id="content" align="center" class="container-fluid">
    <div class="row-fluid">
        <include file='Public:menu' />
        <div class="span10" style="text-align: left;">
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>类别</th>
                    <th>级别</th>
                    <th>内容</th>
                    <th>请求地址</th>
                    <th>请求IP</th>
                    <th>请求时间</th>
                </tr>
                <volist name="list" id="data">
                    <tr>
                        <th>{$data.id}</th>
                        <td>{$data.type}</td>
                        <td>{$data.level}</td>
                        <td>{$data.content}</td>
                        <td>{$data.url}</td>
                        <td>{$data.ip}</td>
                        <td>{$data.addtime}</td>
                    </tr>
                </volist>
                <tr>
                    <td colspan="18" class="pagination">{$pagination}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<include file="Public:footer" />