<include file="Public:header" />
<div id="content" align="center" class="container-fluid">
    <div class="row-fluid">
        <include file='Public:menu' />
        <div class="span10" style="text-align: left;">
            <form method='get' action="/WasProtectForbidProc/index">
                <a class="btn btn-success" href="/Home/Task/save/project_id/{$project_id}">添加</a>&nbsp;
                <a class="btn btn-success" href="/Home/Project/index">返回</a>&nbsp;
                项目名称:<span style="color:sandybrown;font-weight:bold">{$project_name}</span>
            </form>
            <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>是否签名</th>
                <th>是否扫毒</th>
                <th>签名脚本路径</th>
                <th>备注</th>
                <th>添加人</th>
                <th>添加时间</th>
                <th>编辑时间</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="data">
                <tr>
                    <th>{$data.id}</th>
                    <td><if condition="$data.is_sign eq 1">是<else />否</if></td>
                    <td><if condition="$data.is_virus eq 1">是<else />否</if></td>
                    <td>{$data.sign_path}</td>
                    <td>{$data.back}</td>
                    <td>{$data.admin_name}</td>
                    <td>{$data.addtime}</td>
                    <td>{$data.edittime}</td>
                    <td>
                        <a href="/index.php/Home/Result/index/task_id/{$data.id}">查看结果</a>&nbsp;
                        <a href="/index.php/Home/Task/run/id/{$data.id}">执行</a>&nbsp;
                        <a href="/index.php/Home/Task/save/id/{$data.id}/project_id/{$project_id}">编辑</a>&nbsp;
                        <a href="/index.php/Home/Task/delete/id/{$data.id}/project_id/{$project_id}">删除</a>
                    </td>
                </tr>
            </volist>
                <tr>
                    <td colspan="18" class="pagination">{$pagination}</td>
                </tr>
        </table>
    </div>
</div>
</div>
<include file="Public:footer" />