<include file="Public:header" />
<div id="content" align="center" class="container-fluid">
    <div class="row-fluid">
        <include file='Public:menu' />
        <div class="span10" style="text-align: left;">
    <form action="/Home/User/login_up" method="post">
        <div class="form-group">
            <label>管理员名称:</label>
            <input type="text" class="form-control" name="user" placeholder="管理员名称" value="{$admin_name}">
        </div>
        <div class="form-group">
            <label>密码:</label>
            <input type="password" class="form-control" name="password" autocomplete="off" value="">
        </div>
        <button type="submit" class="btn btn-default">登录</button>
    </form>
        </div>
    </div>
</div>
<include file="Public:footer" />