<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>签名打包管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <import type='js' file='Js.jquery' />
    <import type='js' file='JS.jquery-ui'/>
    <import type='js' file='JS.bootstrap'/>
    <import type='js' file='JS.common' />

    <import type='css' file='CSS.jquery-ui'/>
    <import type='css' file='CSS.bootstrap'/>
    <import type='css' file='CSS.bootstrap-responsive'/>

    <script language="JavaScript">
        var _URL = '__URL__';
    </script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">签名打包管理系统</a>
          <span class="brand">服务器IP :
            <php>
                echo $_SERVER['SERVER_ADDR'];
            </php>
          </span>
            <if condition="$_SESSION['isafe_user_name']">
                <ul class="nav pull-right"><li><a href="javascript:void(0)">{$_SESSION['isafe_user_name']}</a></li><li><a href="/User/logout"><i class="icon-off"></i>退出</a></li></ul>
            </if>

            <div class="nav-collapse collapse">
                <if condition="isset($_SESSION['lp_user_id'])">
                    <p class="navbar-text pull-right">
                        Logged in as <a href="/User/view" class="navbar-link">{$_SESSION['lp_user_name']}</a> [<a href="/User/logout" class="navbar-link">Logout</a>]
                    </p>
                </if>
                <ul class="nav">
                </ul>
            </div>
        </div>
    </div>
</div>