<div class="span2" style="text-align:left">
    <div class="well sidebar-nav">
        <h3>菜单</h3>
        <ul class="nav nav-list">
            <!--<li <if condition="'ps_project' eq $menu_hl">class="active"</if>><a href="/Home/Project/index/"><i class="icon icon-tag"></i>&nbsp;项目管理</a></li>-->
            <li <if condition="'ListUpload_index' eq $menu_hl">class="active"</if>><a href="/Home/ListUpload/index"><i class="icon icon-tag"></i>&nbsp;查看上传文件结果</a></li>
            <li <if condition="'ListCron_index' eq $menu_hl">class="active"</if>><a href="/Home/ListCron/index"><i class="icon icon-tag"></i>&nbsp;查看定时扫描结果</a></li>
            <li <if condition="'Sign_index' eq $menu_hl">class="active"</if>><a href="/Home/Sign/index"><i class="icon icon-tag"></i>&nbsp;签名池管理</a></li>
            <li <if condition="'Config_index' eq $menu_hl">class="active"</if>><a href="/Home/Config/index"><i class="icon icon-tag"></i>&nbsp;配置信息</a></li>
            <li <if condition="'Log_index' eq $menu_hl">class="active"</if>><a href="/Home/Log/index"><i class="icon icon-tag"></i>&nbsp;查看日志</a></li>
            <li <if condition="'User_edit' eq $menu_hl">class="active"</if>><a href="/Home/User/edit"><i class="icon icon-tag"></i>&nbsp;修改管理员密码</a></li>
            <li <if condition="'User_register' eq $menu_hl">class="active"</if>><a href="/Home/User/register"><i class="icon icon-tag"></i>&nbsp;增加管理员</a></li>
            <li <if condition="'User_logout' eq $menu_hl">class="active"</if>><a href="/Home/User/logout"><i class="icon icon-tag"></i>&nbsp;退出登录</a></li>
        </ul>
    </div>
</div>
