<include file="Public:header" />
<div id="content" align="center" class="container-fluid">
    <div class="row-fluid">
        <include file='Public:menu' />
        <div class="span10" style="text-align: left;">
            <form method='get' action="">
                <a class="btn btn-success" href="/Home/ListUpload/upload">添加</a>
            </form>
            <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>mains表ID</th>
                <th>文件URL</th>
                <th>文件名称</th>
                <th>版本</th>
                <th>描述</th>
                <th>平台</th>
                <th>文件状态</th>
                <th>使用的签名</th>
                <th>扫描时间</th>
                <th>指定的签名</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="data">
                <tr>
                    <th>{$data.id}</th>
                    <td>{$data.mains_id}</td>
                    <td><a href="{$data.url}">{$data.url}</a></td>
                    <td>{$data.file_path}</td>
                    <td>{$data.ver}</td>
                    <td>{$data.description}</td>
                    <td>Installer后台主程序</td>
                    <td>{$data.status}</td>
                    <td>{$data.sign_used_now}</td>
                    <td>{$data.scan_time}</td>
                    <td>{$data.confirm_sign}</td>
                    <td>
                        <a href="/Home/ListUpload/virus/id/{$data.id}" target="_blank" class="btn btn-info">查看扫毒结果</a>
                        <a href="/Home/ListUpload/confirm_sign/id/{$data.id}" class="btn btn-primary">指定签名</a>
                        <if condition="($data.status_int eq STATUS_PROGRAM_VIRUS) OR ($data.status_int eq STATUS_SIGN_VIRUS) OR ($data.status_int eq STATUS_SIGN_STILL_VIRUS_NO_CHECK) OR ($data.status_int eq STATUS_SIGN_STILL_VIRUS_CHECKED)">
                            <a href="/Home/ListUpload/jump_step/id/{$data.id}" onclick="if(confirm('确定跳过本步骤?')==false)return false;" class="btn btn-danger">
                                <if condition="($data.status eq STATUS_PROGRAM_VIRUS)">
                                    打签名
                                <else />
                                    上传CDN
                                </if>
                            </a>
                        </if>
                        <if condition="($data.mains_id eq 0)">
                            <a href="/Home/ListUpload/delete/id/{$data.id}" onclick="if(confirm('确定删除吗?')==false)return false;" class="btn btn-danger">删除</a>
                        </if>
                    </td>
                </tr>
            </volist>
                <tr>
                    <td colspan="18" class="pagination">{$pagination}</td>
                </tr>
        </table>
    </div>
</div>
</div>
<include file="Public:footer" />